.boxContacto {
  background: var(--body-color);
  box-shadow: var(--shadow);
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.titulo {
  margin-bottom: 2px;
  font-size: 45px;
}
.botones {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.btnContact {
  width: 100%;
  display: block;
  padding: 10px;
  background: var(--celeste);
  color: #fff;
  border: 1px solid var(--celeste);
  border-radius: 5px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  font-size: 16px;
  transition: var(--transition-03s);
}
.btnContact:hover {
  background: transparent;
  color: var(--celeste);
}
.btnContact:last-child {
  background: var(--white);
  border: 1px solid var(--white);
  color: var(--black);
}
.btnContact:last-child:hover {
  background: transparent;
  color: var(--white);
}
@media (max-width: 1100px) {
  .box {
    max-width: 400px;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
  }
  .titulo {
    line-height: normal;
    margin-bottom: 20px;
  }
  .botones {
    width: 100%;
    flex-direction: row;
    margin-top: 10px;
  }
}
@media (max-width: 500px) {
  .titulo {
    font-size: 30px;
  }
  .box {
    max-width: 100%;
  }
  .botones {
    flex-direction: column;
  }
}
