.contenidoCirculos {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  filter: blur(70px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
.cirle_uno {
  width: 700px;
  height: 700px;
  z-index: -2;
  left: 60%;
  top: 40%;
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
  -webkit-animation-name: circle1;
  animation-name: circle1;
  background: #50e3c2;
  opacity: 0.4;

  position: absolute;
  border-radius: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
  animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}
.cirle_dos {
  width: 600px;
  height: 600px;
  z-index: -1;
  left: 40%;
  top: 60%;
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
  -webkit-animation-name: circle2;
  animation-name: circle2;
  animation-direction: reverse;
  background: #7928ca;
  opacity: 0.5;

  position: absolute;
  border-radius: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
  animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}
.cirle_tres {
  background: #50e3c2;
  width: 500px;
  height: 500px;
  z-index: -3;
  left: 50%;
  top: 50%;
  -webkit-animation-duration: 11s;
  animation-duration: 11s;
  -webkit-animation-name: circle3;
  animation-name: circle3;
  opacity: 0.3;

  position: absolute;
  border-radius: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
  animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}

@keyframes circle1 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
  }

  25% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
      rotate(80deg) translateX(30%);
  }

  50% {
    transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
  }

  75% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
      rotate(240deg) translateX(15%);
  }

  100% {
    transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
  }
}
@keyframes circle2 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
  }

  25% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
      rotate(110deg) translateX(-5%);
  }

  50% {
    transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
  }

  75% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
      rotate(300deg) translateX(-10%);
  }

  100% {
    transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
  }
}
@keyframes circle3 {
  0% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
      translateY(10%);
  }

  20% {
    transform: translateY(-50%) translateX(-50%) translateX(20%)
      translateY(-30%);
  }

  40% {
    transform: translateY(-50%) translateX(-50%) translateX(-25%)
      translateY(-15%);
  }

  60% {
    transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
  }

  80% {
    transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
  }

  100% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%)
      translateY(10%);
  }
}