@import url("https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary: #197fd3;
  --primary-all: #0f74c7;
  --secundary: #0f74c7;
  --body-color: #0d0d0d;
  --body-color-2: #0d0d0d;
  --caja-color: #080808;
  --black: #000;
  --white: #fff;
  --white-all: #cecece;
  --gris-7: #fafafa;
  --gris-6: #d4d4d4;
  --gris-5: #999;
  --gris-4: #888;
  --gris-3: #666;
  --gris-2: #444;
  --gris-1: #333;
  --gris-0: #0e0e0e;
  --item-hover: #0d0d0d;
  --altura: 80px;
  --transition-03s: 0.3s ease all;
  --transition-05s: 0.5s ease all;

  --box-iconos: #171717;
  --box-color: #14181dd4;
  --box-transparente: #141c257c;
  --box-border-color: #1d2834;

  --celeste: #007cf0;
  --verde: #00dfd8;
  --morado: #7928ca;
  --rosado: #ff0080;
  --naranja: #ff4d4d;
  --amarillo: #f9cb28;

  --shadow: 0 0 1px 0 hsla(0, 0%, 100%, 0.7);
  --shadow-habilidad: rgba(191, 0, 255, 0.026);

  --bg-boton: #fff;
  --border-color: hsla(0, 0%, 100%, 0.07);
  --color-svg: #fff;
  --shadow-color: hsla(0, 0%, 100%, 0.1);
  --boton-submit: #24292e;
  --bg-header: rgba(0, 0, 0, 0.8);
  --tecnologia-bg: transparent;
  --selection-bg: rgba(255, 255, 255, 0.141);
  --bg-header-btn: #fff;
  --color-header-btn: rgb(0, 0, 0);
  --border-header-btn: rgb(116, 116, 116);
  --color-header-btn-hover: #fff;
  --shadow-presentacion: rgb(0 0 0 / 10%);

  --boton-submit-hover: #2c3135;
}
/*===== globales ===== */
html {
  color-scheme: dark;
}
html.claro {
  color-scheme: initial;
}
body {
  background: var(--black);
  color: var(--white);
  font-family: "Inter", sans-serif;
  padding-top: var(--altura);
  line-height: 1.6;
}
html.claro body {
  --shadow-habilidad: rgba(18, 62, 84, 0.1);
  --bg-header-btn: #007cf0;
  --color-header-btn: rgb(255, 255, 255);

  --shadow: 0 0 1px 0 hsla(0, 0%, 0%, 0.7);
  --tecnologia-bg: #000;
  --bg-header: #fff;
  --boton-submit: #007df0;
  --boton-submit-hover: #2897fe;
  --bg-hobies: #edf2f8;
  --body-color-2: #f3f3f3;
  --shadow-color: hsla(0, 0%, 0%, 0.1);
  --bg-boton: #007df0;
  --color-svg: #000;
  --border-color: hsla(0, 0%, 13%, 0.2);
  --body-color: #ffffff;
  --caja-color: #080808;
  --black: rgb(255, 255, 255);
  --white: rgb(0, 0, 0);
  --gris-1: rgb(116, 116, 116);
  --shadow-presentacion: rgba(91, 91, 91, 0.1);

  --gris-0: #ffffff;
  --gris-5: rgb(0, 0, 0);
  --item-hover: #d8d8d854;

  --box-color: #ffffffd4;
  --white-all: #383838;
  --gris-6: #000000;

  --box-iconos: #ffffff;
  --box-transparente: #f5f5f57c;
  --box-border-color: #8e8e8e;
  --selection-bg: rgba(0, 0, 0, 0.141);
  --border-header-btn: #007df0;
  --color-header-btn-hover: #007df0;
}
span,
p {
  color: var(--gris-4);
}
a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
::selection {
  background: var(--selection-bg);
}
main {
  min-height: 100vh;
}
/*=============== utilidades ===============*/
.contenedor {
  max-width: 1300px;
  margin: 0 auto;
  padding: 30px;
}
.contenedor_boton {
  grid-column: 1/-1;
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
.contenedor_boton .boton {
  margin: 0 auto;
  background: var(--white);
  border: 1px solid var(--gris-1);
  color: var(--black);
  font-weight: 700;
}
.contenedor_boton .boton:hover {
  background: var(--gris-0);
  border: 1px solid var(--gris-3);
}
.no_proyectos {
  grid-column: 1/ -1;
  text-align: center;
  background: var(--gris-0);
  border: 1px solid var(--gris-1);
  border-radius: 10px;
  color: var(--gris-5);
  padding: 20px;
  font-size: 14px;
}
.iconos-despegables {
  display: none;
}
#proyecto.aparecer {
  animation: aparecer 0.5s ease forwards;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    display: grid;
  }
}
#proyecto.ocultar {
  animation: desaparecer 0.5s ease forwards;
}

@keyframes desaparecer {
  0% {
    opacity: 1;
    display: grid;
  }
  100% {
    opacity: 0;
    display: none;
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
  }
}
.banner {
  background-image: url("/img/banner_4.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: fit-content;
}
.banner_2 {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.8)
    ),
    url("/img/banner_1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.banner_3 {
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.8)
    ),
    url("/img/banner_3.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  color: #fff;
}
.banner_4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("/img/banner_1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 20px;
  margin-top: -50px;
}
html.claro body .banner_3,
html.claro body .banner_2,
html.claro body .banner_4 {
  background-image: url("/img/banner_4.webp");
}
form.error input::placeholder {
  color: #ff7676;
}
@media (max-width: 1400px) {
  .banner {
    background-image: none;
  }
}
@media (max-width: 1100px) {
  .iconos-despegables {
    display: block;
  }
  footer .active {
    max-height: 500px;
    overflow: visible;
    padding-bottom: 10px;
  }
  footer .active .iconos-despegables i.bx.mas {
    display: none;
  }
  footer .active i.bx.menos {
    display: block;
  }
  .iconos-despegables {
    pointer-events: none;
  }
  .iconos-despegables i.bx.mas {
    display: block;
  }
  .iconos-despegables i.bx.menos {
    display: none;
  }
  .mb-50 {
    margin-bottom: 0;
  }
}
@media (max-width: 990px) {
  :root {
    --altura: 75px;
  }
}

@media (max-width: 350px) {
  .contenedor {
    padding-left: 20px;
    padding-right: 20px;
  }
}
