.contenido h1 {
  font-size: 40px;
  max-width: 600px;
  text-transform: uppercase;
  line-height: 1.2;
  color: var(--white);
}
.contenido a {
  padding: 15px 20px;
  text-transform: uppercase;
  background: var(--celeste);
  color: #fff;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 600;
  border: 1px solid transparent;
  transition: var(--transition-03s);
}
.contenido a:hover {
  border-color: var(--celeste);
  background: transparent;
  color: var(--celeste);
}
@media (max-width: 500px) {
  .contenido h1 {
    font-size: 30px;
  }
}
